@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Geist", sans-serif;

  --ui-primary: var(--color-orange-500);

  --ui-color-primary-50: var(--color-orange-50);
  --ui-color-primary-100: var(--color-orange-100);
  --ui-color-primary-200: var(--color-orange-200);
  --ui-color-primary-300: var(--color-orange-300);
  --ui-color-primary-400: var(--color-orange-400);
  --ui-color-primary-500: var(--color-orange-500);
  --ui-color-primary-600: var(--color-orange-700);
  --ui-color-primary-700: var(--color-orange-700);
  --ui-color-primary-800: var(--color-orange-800);
  --ui-color-primary-900: var(--color-orange-900);
}
